/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */



body {
  background-color: #ddeeff;
  color: #116644;
  font-family: monospace;
  font-size: 18px;
}

h1 {
  color: #329876;
}

p {
  color: #822361;
}

.poke-index-link {
  /* hello */
}

.index-list {
  display: grid;
  grid-template-columns: 25% 25% 25%;
}

.index-list-item {

}

.btn {
  text-decoration: none;
  padding: 2px 6px 2px 6px;
  border-radius: 4px;
  border: 1px solid #348764;
}

.sprite {
  width: 20vw;
  max-width: 200px;
}

.normal   {color: #d45f65;}
.fighting {color: #e8121b;}
.flying   {color: #5eb9b4;}
.poison   {color: #a819d7;}
.ground   {color: #e2d15b;}
.rock     {color: #e2d15b;}
.bug      {color: #bddd6e;}
.ghost    {color: #8f54a4;}
.steel    {color: #7b8e8a;}
.fire     {color: #f67e0c;}
.water    {color: #2279be;}
.grass    {color: #3f9607;}
.electric {color: #fffa24;}
.psychic  {color: #ed0f64;}
.ice      {color: #2c94a3;}
.dragon   {color: #8b56fe;}
.dark     {color: #604632;}
.fairy    {color: #f9a0c2;}
.unknown  {color: #dcfcf7;}
.shadow   {color: #505058;}
